{% extends "base.html" %}

{% block content %}

<h1>📈 Match Insights</h1>

<form method="POST">

    <select name="season">

        {% for season in seasons %}
        <option value="{{ season }}">
            {{ season }}
        </option>
        {% endfor %}

    </select>

    <button type="submit">
        Analyze
    </button>

</form>

{% if stats %}

<h2>🏆 Season Overview</h2>

<div class="card">
    <p><strong>Matches:</strong> {{ stats.matches }}</p>
    <p><strong>Runs:</strong> {{ stats.runs }}</p>
    <p><strong>Wickets:</strong> {{ stats.wickets }}</p>
</div>

<div class="card">

    <h2>🏏 Batting Leaders</h2>

    <p>
        {{ season_performers.top_batter }}
        ({{ season_performers.top_runs }} Runs)
    </p>

    <p>
        {{ season_performers.most_sixes_player }}
        ({{ season_performers.most_sixes }} Sixes)
    </p>

</div>

<div class="card">

    <h2>🎯 Bowling Leaders</h2>

    <p>
        {{ season_performers.top_bowler }}
        ({{ season_performers.top_wickets }} Wickets)
    </p>

</div>

<div class="card">

    <h2>🧤 Fielding Leaders</h2>

    <p>
        {{ season_performers.top_fielder }}
        ({{ season_performers.top_catches }} Catches)
    </p>

</div>

<hr>

<form method="POST">

    <input
        type="hidden"
        name="season"
        value="{{ selected_season }}"
    >

    <select name="team">

        {% for team in stats.teams %}
        <option value="{{ team }}">
            {{ team }}
        </option>
        {% endfor %}

    </select>

    <button type="submit">
        Analyze Team
    </button>

</form>

{% endif %}

{% if team_stats %}

<h2>🏏 Team Insights</h2>

<div class="card">
    <p><strong>Matches:</strong> {{ team_stats.matches }}</p>
    <p><strong>Wins:</strong> {{ team_stats.wins }}</p>
    <p><strong>Losses:</strong> {{ team_stats.losses }}</p>
    <p><strong>Runs:</strong> {{ team_stats.runs }}</p>
    <p><strong>Wickets:</strong> {{ team_stats.wickets }}</p>
</div>

<div class="card">

    <h2>🏏 Team Batting Leader</h2>

    <p>
        {{ team_performers.top_batter }}
        ({{ team_performers.top_runs }} Runs)
    </p>

</div>

<div class="card">

    <h2>🎯 Team Bowling Leader</h2>

    <p>
        {{ team_performers.top_bowler }}
        ({{ team_performers.top_wickets }} Wickets)
    </p>

</div>

<div class="card">

    <h2>🧤 Team Fielding Leader</h2>

    <p>
        {{ team_performers.top_fielder }}
        ({{ team_performers.top_catches }} Catches)
    </p>

</div>

{% endif %}

{% endblock %}